
.kategori{
  //background-color: #2980b9;
  padding: 10px 10px 10px 0px !important;
}
.kategori a{
  color:#FFF !important;
}
.kategori .item{
  padding: 10px;
 }
.bg-ri{
  background-color: #FFB65E;
}
.bg-dprd{
  background-color: #234584;
}
.bg-dapil1{
  background-color: #db411e;
}
.bg-dapil2{
  background-color: #317CAF;
}
.bg-dapil3{
  background-color: #52ce77;
}
.center{
  text-align: center;
}
.partai-title{
  font-weight: bold;
}
.full{
  width:100% !important;
}
